.artist-text {
    margin-left: 55px;
    font-family: monospace;
    font-size: 20px;
}

.heart-btn {
    margin-left: 750px;
    display: flex;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    color: #a93F55;
    border: none;
    border-radius: 15px;
    margin-top: -55px;
    margin-bottom: 45px;
    
}

.heart-btn:hover {
background-color: black;
}

.title-text {
    display: flex;
    justify-content: left;
    margin-left: 55px;
    font-family: monospace;
    font-size: 15px;
    color: #5f818e;
    margin-top: -15px;
}

.time-text {
    display: flex;
    justify-content: left;
    margin-left: 55px;
    font-family: monospace;
    font-size: 15px;
    margin-top: -15px;
    
}

.playlist-text {
    font-size: 45px;
    display: flex;
    justify-content: right;
    margin-left: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #444444;
}

.remove-btn {
    display: flex;
    justify-content: left;
    margin-left: 35px;
    background: #a93F55;
    color: white;
}

.align {
    display: flex;
}

.gray-line {
    margin-left: 55px;
    margin-right: 55px;
}