.artist-text {
    /* display: flex;
    justify-content: flex-end; */
    margin-left: 600px;
    font-family: monospace;
    font-size: 20px;
}

.heart-btn {
    margin-left: 750px;
    display: flex;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #a93F55;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;
}

.heart-btn:hover {
background-color: black;
}

.title-text {
    display: flex;
    justify-content: left;
    margin-left: 55px;
    font-family: monospace;
    font-size: 20px;
    color: #5f818e;
}

.time-text {
    display: flex;
    justify-content: left;
    margin-left: 55px;
    font-family: monospace;
    font-size: 20px;
    
}

.playlist-text {
    font-size: 45px;
    display: flex;
    justify-content: right;
    margin-left: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #444444;
}

.remove-btn {
    display: flex;
    justify-content: left;
    margin-left: 35px;
    background: #a93F55;
    color: white;
}

